<div class="setscreen">

  <div class="header">
    <div class="hd-a">
      <div class="hd-b"><a href="/AdminLogin.php"><img src="/img/logo.png"></a></div>
      <div class="hd-c">
        <ul>
          <li><a routerLink="/" routerLinkActive="active" >Home</a></li>
          <li><a href="/b2b/" class="">B2B</a></li>
          <li><a href="/Neptune/" class="">NEPTUNE</a></li>
          <li><a href="/ARM/" class="">ARM</a></li>
          <li><a href="/extranet/" class="">EXTRANET</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="bnn">
      <div class="bnn-a">How the eHotelGateway Work?</div>
      <div class="bnn-n">
        The Supplier and Hotels, will get a login ID provided by you to the eHotelGateway interface. <br>
        Once products have been uploaded, after your approval the product is then ready to sell on your website.
      </div>
      <div class="bnn-c"><img src="/img/banner.png"></div>
    </div>
    <div class="cont-1">
      <div class="cont-1-set">
        <h1>Who is eHotelgateway?</h1>
        <p>
          With daily increasing cost and business competition in distribution,
          11-Infotech System have always strive hard to improve our quality of
          work and new ways of distribution channel.
        </p>
        <p>
          eHotelgateway solution platform comes with the most sophistical and updated
          XML connection philosophy with all the features and will help you to reduce
          cost and increase sales and productively for B2B and B2C clientele.
        </p>
      </div>
    </div>
    <div class="cont-2">
      <div class="cont-2-tbl">
        <div class="cont-2-td1">
          <strong>What is eHotelgateway?</strong>
          <p>
            With daily increasing cost and business competition in distribution,
            11-Infotech System have always strive hard to improve our quality of
            work and new ways of distribution channel.
          </p>
        </div>
        <div class="cont-2-td2">
          <strong>How eHotelgateway works?</strong>
          <p>
            - A monthly fixed cost to participate in the platform for seller. <br>
            - One time set-up fee to join platform for seller.
          </p>
        </div>
        <div class="cont-2-td3">
          <strong>Services and Support</strong>
          <p>
            Good technical support and constant update of technology innovation
          </p>
        </div>
      </div>
    </div>
    <div class="cont-3">
      <div class="cont-3-tt">Why eHotelgateway?</div>
      <div class="cont-3-tbl">
        <div class="cont-3-tr">
          <div class="cont-3-td">XML interface to save time and resource in allotment and rate management</div>
          <div class="cont-3-td">Use of Extranet to manage your allotment and rates</div>
          <div class="cont-3-td">Manage and update reservation status using a fully automated module [Neptune]</div>
          <div class="cont-3-td">Centralize your rates updating by using only ONE source instead of many individual
            partners</div>
        </div>
        <div class="cont-3-tr">
          <div class="cont-3-td">No commission or segment fees for both sellers and buyers</div>
          <div class="cont-3-td">Tools to support Multi- language</div>
          <div class="cont-3-td">Ease to manage multi-hotels rates and room allotment control provide</div>
          <div class="cont-3-td">Assist you to manage rate parity or Able to manage your rates both in Gross or Net in
            your distribution</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="ft-set">
      <div class="ft-a">Copyright © eHotelGateway. All Rights Reserved.</div>
      <div class="ft-b">Powered by 11-Infotech System Co., Ltd.</div>
      <div class="ft-c"><img src="/img/ftr_logo.png"></div>
    </div>
  </div>
</div>
